<div style="text-align:center">
  <h3>
    Welcome to {{ title }}!
  </h3>
  <img width="50" alt="Angular Logo"
    src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<button mat-raised-button style="margin-left: 10px;" color="primary" (click)="openToaster()">toast</button>
<button mat-raised-button style="margin-left: 10px;" color="primary" (click)="openConfirmDialogue()">confirm</button>
<div style="position: absolute;right: 50px;font-size: 14px;">Example Code on <a style="color: blue;"
    href="https://github.com/discoverdollartech/dd-ngx-alerts">Github</a></div>
<div style="display: flex;font-size: 14px;">
  <div style="width: 30%;margin: 1%;">
    <h3 style="width: 70%;">Toaster Config:</h3>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput type="text" placeholder="Title" [(ngModel)]="toasterConfig.title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Title Size" [(ngModel)]="toasterConfig.titleSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Message" [(ngModel)]="toasterConfig.message">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Message Size" [(ngModel)]="toasterConfig.messageSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Duration" [(ngModel)]="toasterConfig.duration">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Horizontal Position" [(ngModel)]="toasterConfig.horizontalPosition">
      <mat-hint>'left'|'right'|'center'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Vertical Position" [(ngModel)]="toasterConfig.verticlePosition">
      <mat-hint>'top'|'bottom'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Width" [(ngModel)]="toasterConfig.width">
      <mat-hint>min:250, max:400</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Background Color" [(ngModel)]="toasterConfig.backgroundColor">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Text Color" [(ngModel)]="toasterConfig.textColor">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Mat Icon" [(ngModel)]="toasterConfig.matIcon">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Icon Color" [(ngModel)]="toasterConfig.iconColor">
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.showProgressBar" [labelPosition]="'after'">
        Show Progress Bar
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.pauseProgressBarOnHover"
        [labelPosition]="'after'">
        Progress Pause On Hover
      </mat-checkbox>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Progrss Bar Color" [(ngModel)]="toasterConfig.progressBarColor">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Progrss Bar Type" [(ngModel)]="toasterConfig.progressBarType">
      <mat-hint>'increasing' | 'decreasing'</mat-hint>
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.closeOnClick" [labelPosition]="'after'">
        Close On Click
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.showCloseButton" [labelPosition]="'after'">
        Show Close Button
      </mat-checkbox>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Close Button Color" [(ngModel)]="toasterConfig.closeButtonColor">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.showActionButton" [labelPosition]="'after'">
        Show Action Button
      </mat-checkbox>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Action Button Text" [(ngModel)]="toasterConfig.actionButtonText">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Action Button Color" [(ngModel)]="toasterConfig.actionButtonColor">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
  </div>
  <div style="width: 30%;margin: 1%;">
    <h3 style="width: 70%;">Confirm Config:</h3>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Title" [(ngModel)]="confirmConfig.title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Title Size" [(ngModel)]="confirmConfig.titleSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Message" [(ngModel)]="confirmConfig.message">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Message Size" [(ngModel)]="confirmConfig.messageSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Mat Icon" [(ngModel)]="confirmConfig.matIcon">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Animation</mat-label>
      <mat-select [(value)]="confirmConfig.iconAnimation">
        <mat-option value="undefined">None</mat-option>
        <mat-option *ngFor="let anm of animations" [value]="anm">{{anm}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Icon Color" [(ngModel)]="confirmConfig.iconColor">
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="confirmConfig.disableClose" [labelPosition]="'after'">
        Disbale Close(ESC and overlay click will not work)
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="confirmConfig.autoFocus" [labelPosition]="'after'">
        Auto Focus
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="confirmConfig.restoreFocus" [labelPosition]="'after'">
        Restore Focus
      </mat-checkbox>
    </div>
    <div style="width: 100%;">
      <div>
        Buttons:
        <span style="margin-left:10px ;">
          <button mat-icon-button (click)="addBtn()">
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </div>
      <div *ngFor="let btn of buttonArr; let i = index;">
        <div style="padding: 5px;border: 1px dotted black;">
          <button mat-icon-button (click)="removeBtn(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button ID" [(ngModel)]="btn.id">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Text" [(ngModel)]="btn.text">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Color" [(ngModel)]="btn.color">
            <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Type" [(ngModel)]="btn.type">
            <mat-hint>'basic' | 'raised' | 'stroked' | 'flat' | 'icon' | 'fab' | 'minifab'</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Icon" [(ngModel)]="btn.icon">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 30;">
    Toaster Config:
    <pre>{{toasterConfig|json}}</pre>
    Confirm Config:
    <pre>{{confirmConfig|json}}</pre>
    Buttons:
    <pre>{{buttonArr|json}}</pre>
  </div>
</div>