<div style="text-align:center;height: 5vh;">
  <b style="font-size: 24px;">
    {{ title }}
  </b>
</div>
<div style="display: flex;height: 5vh;">
  <span class="example-spacer"></span>
  <button mat-raised-button style="width: 80px;" color="primary" (click)="openToaster()">Toast</button>
  <button mat-raised-button style="width: 80px;margin-left: 10px;" color="primary"
    (click)="openConfirmDialogue()">Confirm</button>
  <span class="example-spacer"></span>
  <div style="position: absolute;right: 50px;font-size: 14px;">Usage example on <a style="color: blue;" target="_blank"
      href="https://github.com/ankit1329/ngx-mat-alert-confirm">Github</a></div>
</div>
<div style="display: flex;font-size: 14px;">
  <div style="width: 32%;margin: 0 1%; height: 89vh;overflow-y: auto;background-color: rgb(252, 252, 252);border-radius: 5px;padding: 0 20px;">
    <h3 style="width: 70%;margin: 0;">Toaster Config:</h3>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Title" [(ngModel)]="toasterConfig.title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Title Size" [(ngModel)]="toasterConfig.titleSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Message" [(ngModel)]="toasterConfig.message">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Message Size" [(ngModel)]="toasterConfig.messageSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Duration" [(ngModel)]="toasterConfig.duration">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Horizontal Position" [(ngModel)]="toasterConfig.horizontalPosition">
      <mat-hint>'left'|'right'|'center'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Vertical Position" [(ngModel)]="toasterConfig.verticlePosition">
      <mat-hint>'top'|'bottom'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Width" [(ngModel)]="toasterConfig.width">
      <mat-hint>min:250, max:400</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Background Color" [(ngModel)]="toasterConfig.backgroundColor">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Text Color" [(ngModel)]="toasterConfig.textColor">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Mat Icon" [(ngModel)]="toasterConfig.matIcon">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Icon Color" [(ngModel)]="toasterConfig.iconColor">
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.showProgressBar" [labelPosition]="'after'">
        Show Progress Bar
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.pauseProgressBarOnHover"
        [labelPosition]="'after'">
        Progress Pause On Hover
      </mat-checkbox>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Progrss Bar Color" [(ngModel)]="toasterConfig.progressBarColor">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Progrss Bar Type" [(ngModel)]="toasterConfig.progressBarType">
      <mat-hint>'increasing' | 'decreasing'</mat-hint>
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.closeOnClick" [labelPosition]="'after'">
        Close On Click
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.showCloseButton" [labelPosition]="'after'">
        Show Close Button
      </mat-checkbox>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Close Button Color" [(ngModel)]="toasterConfig.closeButtonColor">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="toasterConfig.showActionButton" [labelPosition]="'after'">
        Show Action Button
      </mat-checkbox>
    </div>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Action Button Text" [(ngModel)]="toasterConfig.actionButtonText">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Action Button Color" [(ngModel)]="toasterConfig.actionButtonColor">
      <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
    </mat-form-field>
  </div>
  <div style="width: 32%;margin: 0 1%; height: 89vh;overflow-y: auto;background-color: rgb(252, 252, 252);border-radius: 5px;padding: 0 20px;">
    <h3 style="width: 70%;margin: 0;">Confirm Config:</h3>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Title" [(ngModel)]="confirmConfig.title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Title Size" [(ngModel)]="confirmConfig.titleSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Message" [(ngModel)]="confirmConfig.message">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="number" placeholder="Message Size" [(ngModel)]="confirmConfig.messageSize">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Mat Icon" [(ngModel)]="confirmConfig.matIcon">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Animation</mat-label>
      <mat-select [(value)]="confirmConfig.iconAnimation">
        <mat-option value="undefined">None</mat-option>
        <mat-option *ngFor="let anm of animations" [value]="anm">{{anm}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput type="text" placeholder="Icon Color" [(ngModel)]="confirmConfig.iconColor">
    </mat-form-field>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="confirmConfig.disableClose" [labelPosition]="'after'">
        Disbale Close(ESC and overlay click will not work)
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="confirmConfig.autoFocus" [labelPosition]="'after'">
        Auto Focus
      </mat-checkbox>
    </div>
    <div style="width: 70%;">
      <mat-checkbox class="example-margin" [(ngModel)]="confirmConfig.restoreFocus" [labelPosition]="'after'">
        Restore Focus
      </mat-checkbox>
    </div>
    <div style="width: 100%;">
      <div>
        Buttons:
        <span style="margin-left:10px ;">
          <button mat-icon-button (click)="addBtn()">
            <mat-icon>add</mat-icon>
          </button>
        </span>
      </div>
      <div *ngFor="let btn of buttonArr; let i = index;">
        <div style="padding: 5px;border: 1px dotted black;">
          <button mat-icon-button (click)="removeBtn(i)">
            <mat-icon>delete</mat-icon>
          </button>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button ID" [(ngModel)]="btn.id">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Text" [(ngModel)]="btn.text">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Color" [(ngModel)]="btn.color">
            <mat-hint>'primary' | 'accent' | 'warn'</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Type" [(ngModel)]="btn.type">
            <mat-hint>'basic' | 'raised' | 'stroked' | 'flat' | 'icon' | 'fab' | 'minifab'</mat-hint>
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Button Icon" [(ngModel)]="btn.icon">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 30%;margin: 0 1%; height: 89vh;overflow-y: auto;background-color: rgb(252, 252, 252);border-radius: 5px;padding: 0 20px;">
    <h3 style="width: 70%;margin: 0;">Result Configs:</h3>

    Toaster Config:
    <pre>{{toasterConfig|json}}</pre>
    Confirm Config:
    <pre>{{confirmConfig|json}}</pre>
    Buttons:
    <pre>{{buttonArr|json}}</pre>
  </div>
</div>